/*Link font faces---------------------------------------------------------*/
@font-face {
    font-family: 'DMMono-Light';
    src: url('fonts/DMMono-Light.woff') format('woff');
    src: url('fonts/DMMono-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'RubenkoRegular';
    src: url('fonts/RubenkoRegular.woff') format('woff');
    src: url('fonts/RubenkoRegular.woff2') format('woff2');  
}

/*Defaults---------------------------------------------------------*/
/*Reset Default styles*/
body,h1,h2,h3,p,ul,li,form{
    margin:20px;
    padding:0;
}


/*Global Default styles*/
body{
    font-family:'DMMono-Light';
    font-size: 12px;
    line-height:1.6;
    color:#000000;
    background-color:#F0E4CD;
    margin:10px;
    padding:0;
    max-width: 100%;
}
@media(max-width: 575.98px){
    body{
        font-size: 10px;
    }
}

/*header section---------------------------------------------------------*/
.logo-word{
    font-family: 'RubenkoRegular';
    font-size: 20px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.nav-row{
    border-top: 0.05px solid #000000;
    height: 40px;
    display: flex;
    padding: 0px;
    justify-content: space-evenly;
    flex-shrink: 0;
    flex-wrap: wrap;
    border-bottom: 0.05px solid #000000;
    overflow-x: hidden;

}
.col-md-12 .nav-irow{
    height: 38px;
    width:1262px;
}

.nav-space{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center; 
    border-right: 0.05px solid #000000;
}
.nav-link{
    padding: 0px;
}
@media(max-width: 575.98px){
    .nav-link{
        visibility: hidden;

    }
}
.fourth-nav{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

/*hero section---------------------------------------------------------*/
.image-container{
   display: flex;
   max-height: 900px;
}
@media(max-width: 575.98px){
    .image-container{
        max-height: 475px;
       
    }
} 

.top-circ{
    display: grid;
    grid-template-columns: 40% 10% 40% 10%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
@media(max-width: 575.98px){
.img-nt{
    grid-row: 2 ;
    grid-column: 1/span 2;
    width:100%;
    width: 80px;
    height: auto; 
    margin-left: 20px;
    margin-top: -80px;
}
}
@media(min-width: 576px){
    .img-nt{
        grid-row: 2 ;
        grid-column: 1/span 2;
        width:100%;
        width: 155px;
        height: auto; 
        margin-left: 20px;
        margin-top: -80px;
    }
    }
    

.midle-con{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width: 575.98px){
    .midle-con{
        max-width: 300px;
    }
}

.line-pic{
    display:grid ;
    max-width: 600px;
    grid-template-columns: 40% 10% 40% 10%;
    grid-template-rows: 20% 10% 5% 30% 35%;
}
@media(max-width: 575.98px){
    .line-pic{
        margin-top: 0px;
       
    }
}
.text-container{
    grid-row: 3 ;
    grid-column: 1/span 2;
    
}
.text-heading{
    font-family: 'RubenkoRegular';
    font-size: 200px;
    align-items:start;
    z-index: 0;
    padding-top: 20px;
}

@media(max-width: 575.98px){
    .text-heading{
        font-size: 120px;
        margin-left: 80px;
        padding: 0px;
        margin-top: -30px;
        margin-bottom: -30px;
    }
 
}

.par-head{
    font-family:'DMMono-Light';
    font-size: 18px;
    justify-content: center;
    grid-column: 1/span 3;
    z-index: 1;
    width: 646;
}
@media(max-width: 575.98px){
    .par-head{
        font-size: 12px;
        margin-left: 80px;
    }
}

@media(max-width: 575.98px){
.col-sm-12 .line-pic .img-line{
    grid-row: 1/span 3;
    grid-column: 2;
    width:200px;
    height: auto;
    margin-left: -45px;
    margin-top: -67px;
   
} 
}
.img-line{
    grid-row: 1/span 3;
    grid-column: 2;
    z-index: -1;
    width:100%;
    width:300px;
    height: auto;
    margin-left: -75px;
    
} 

@media(max-width: 575.98px){
.col-sm-12 .line-pic .img-gj{
    width: 260px;
    height: auto;
    margin-left: -40px;
    margin-top: -30px;
    
}
}

.img-gj{
    grid-row: 3/span 5;
    grid-column: 3/span 5;
    width: 100%;
    height: auto;
    z-index: -2;
    margin-left: -30px;
    margin-top: 30px;
}

@media(min-width: 576px){
.col-md-5 .line-pic .img-gj{
    width: 422px;
    height: auto;
}
}

.ytk-grid{
    display: grid;
    grid-template-columns: 30% 25% 45%;
    grid-template-rows: 10% 20% 20% 20% 30%;
    height:600px;

}

@media(max-width: 575.98px){
    .img-YTK{
        float: left;
        width: 15px;
        height: auto;
    }
}
.img-YTK{
    grid-row:3;
    grid-column: 2;
    width:100% ;
    width: 149px;
    height: auto;
    margin-left: -43px;
}

.BTHC-con{
    margin-top: 50px;
    max-width: 1262px;
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    align-items: center;
}
@media(max-width: 575.98px){
    .BTHC-con{
        margin-top: -30px;
    }
}
.BTHC-text{
    margin-left: 0px;
    margin-right: 0px;
}
@media(max-width: 575.98px){
    .BTHC-text{
        margin-left: 25px;
    }
}

/*lorem section--------------------s-------------------------------------*/

.lorem-con{
    margin-top: 80px;
    margin-left: 0px;
    margin-right: 0px;
    max-width: 1262px;
}
@media(max-width: 575.98px){
    .lorem-con{
        margin-top: 30px;
    }
}
.lorem-grid{
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 30% 20% 25% 25%;
}

.img-neck-con{
    grid-row: 2/span 3;
    grid-column: 2;
    z-index: -1;
}

.lorem-par-con{
    grid-row: 1/span 3;
    grid-column: 1/span 2;
  
}

.lorem-ring-con{
    grid-row: 1/ span 2;
    grid-column: 2; 
    z-index: -1;  

}
.lorem-stamp-con{
    grid-row: 3/span 4;
    grid-column: 2;
}

.img-neck{
    display: flex;
    justify-content: end;
    margin-top: 38px;
    margin-left: -55px;

}
@media(max-width: 575.98px){
    .img-neck{
        width: 100%;
        width:70px;
        height: auto;  
    }
}
.lorem-text{
    font-family: 'RubenkoRegular';
    font-size: 70px;
    font-weight: 50;
    font-kerning: 3px;
    text-align: center;
    display: flex;
    justify-content: center;
    line-height: 1.2;
    
}
@media(max-width: 575.98px){
    .lorem-text{
        font-size: 40px;
    }
}
.img-ring{
    float: right;
    margin-bottom: 40px;
    margin-right: 120px;
}
@media(max-width: 575.98px){
    .img-ring{
        width: 100%;
        width:70px;
        height: auto;
        margin-bottom: 10px;
    }
}
.img-stamp{
    float: right;
    width: 170px;
    height: 170px;
    justify-content: center;
    align-items: center;
}
@media(max-width: 575.98px){
    .img-stamp{
        width: 100%;
        width:120px;
        height: auto
    }
}
/*OUR STORY (0S)section---------------------------------------------------------*/
.OS-con{
    margin:10px;
    max-width: 1262px;
}
@media(max-width: 575.98px){
    .OS-con{
        display: flex;
        justify-content: center;
        vertical-align: top;
        height: 2000px;
    }
}
@media(max-width: 575.98px){
    .OS-section{
        display: flex;
        flex-direction: column;
        height: 2000px;
        margin-top: 0px;   
    }
}
.OS-section{
    margin-top: 100px;
}

.OS-text{
    font-family: 'RubenkoRegular';
    font-size: 60px;
}
@media(max-width: 575.98px){
    .OS-text{
        font-size: 45px;
        margin:0px;
        vertical-align: top;
    }
}
.OS-grid{
    width:96%;
    height: 710px;
    margin-top: 30px ;
    margin-bottom: 30px;
    border-bottom: 0.3px solid #000000;
    border-top: 0.3px solid #000000;
    display: grid;
    grid-template-columns: 21% 30% 27% 22%;
}
@media(max-width: 575.98px){
    .OS-grid{
       display:block !important;
       justify-content: center;
       align-items: center;
       align-content: center;
       max-width: 280px;
       border:0.3px solid #000000;
       height: 1850px;

    }
}
.first-colu{
   grid-column: 1;
    display:grid;
    grid-template-rows:35% 20% 45% ; 
    border-right: 0.3px solid #000000;
    
}
@media(max-width: 575.98px){
    .first-colu{
        display:block !important;
        border-right: 0px solid #000000 !important;
    }
}
.secon-colu{
    grid-column: 2;
    display:grid;
    grid-template-rows:35% 20% 45% ; 
    border-right: 0.3px solid #000000;
}
@media(max-width: 575.98px){
    .secon-colu{
        display:block !important;
        border-right: 0px solid #000000 !important;
    }
}
.third-colu{
    grid-column: 3;
    display:grid;
    grid-template-rows:35% 20% 45% ; 
    border-right: 0.3px solid #000000;
}
@media(max-width: 575.98px){
    .third-colu{
        display:block !important;
        border-right: 0px solid #000000 !important;
    }
}
.forth-colu{
    grid-column: 4;
    display:grid;
    grid-template-rows:35% 20% 45% ; 
    
}
@media(max-width: 575.98px){
    .forth-colu{
        display:block !important;
    }
}
.pic-con-one{
    grid-row: 1/span 2;
    border-bottom: 0.3px solid #000000;
    margin-top: 20px;
    vertical-align: middle;
}
@media(max-width: 575.98px){
    .pic-con-one{
        height: 270px;
        margin: 0px;
        margin-bottom: 65px;
        border-bottom: 0px solid #000000 !important;
    }
}

.text-one{
    grid-row: 3;
    margin-top: 20px;
}
@media(max-width: 575.98px){
    .text-one{
        height: 64px;
        margin-top: 15px;
        margin-bottom: 35px;
        border-top: 1px solid #000000 !important;
    }
}

.pic-con-secon{
    grid-row: 2/span 3;
    margin-top: 20px;
}
@media(max-width: 575.98px){
    .pic-con-secon{
        border-top: 1px solid #000000 !important;
    }
}

.text-secon{
    grid-row: 1;
    border-bottom: 0.3px solid #000000;
    margin-top: 20px;
}
@media(max-width: 575.98px){
    .text-secon{
        height: 64px;
        margin-top: 15px;
        margin-bottom: 35px;
        border-top: 1px solid #000000;
        border-bottom: 0px solid #000000 !important;
    }
}
.pic-con-third{
    grid-row: 1/span 2;
    border-bottom: 0.3px solid #000000;
    margin-top: 20px;
    vertical-align: middle;
}
.text-third{
    grid-row: 3;
    margin-top: 20px;
}
.pic-con-forth{
    grid-row: 2/span 3;
    margin-top: 20px;
    vertical-align: middle;
    
}
.text-forth{
    grid-row: 1;
    border-bottom: 0.3px solid #000000;
    margin-top: 20px;
}

@media(max-width: 575.98px){
    .text-forth{
        border-top: 1px solid #000000;
        margin-top: 15px;
        margin-bottom: 15px;
        border-bottom: 0px solid #000000 !important;
    }
}


.text-OS{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center; 
}

.img-one{
    max-width: 230px;
    width: 100%;
    height: auto;
    margin-top: 35px;
    
}
.img-secon{
    margin-left: 35px;

}
@media(max-width: 575.98px){
    .img-secon{
        width: 100% !important;
        width: 230px;
        height: auto;
        margin: 0px;  
        margin-top: 15px;
    }
}
.img-third{
    max-width: 280px;
    width: 100%;
    height: auto;
    margin-left: 18px;

}
@media(max-width: 575.98px){
    .img-third{
        border-top: 1px solid #000000;
        width: 220px;
        height: auto;
        margin: 0px;  
        margin-top: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 0px solid #000000 !important;
    }
}
.img-forth{
    max-width: 280px;
    width: 100%;
    height: auto;
    margin-left: 18px;
    margin-top: 35px;
}
@media(max-width: 575.98px){
    .img-forth{
        border-top: 1px solid #000000;
        width: 220px;
        height: auto;
        margin: 0px;  
        margin-top: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 0px solid #000000 !important;
    }
}
/* Products section---------------------------------------------------------*/
.Lauch-sec{
    margin:10px;
    max-width: 1262px;


}

.Prod-head{
    font-family: 'RubenkoRegular';
    font-size: 60px;
}
@media(max-width: 575.98px){
    .Prod-head{
        font-size: 45px;
        margin:0px;
        margin-bottom: 25px;
        vertical-align: top;
    }
}
 
@media(max-width: 575.98px){
    .prod-con{
        max-width: 400px;
        display: flex;
        justify-content: center;
        margin: 0px;
        

    }
}
.prod-section{
    max-width: 1262px;
    margin-top:30px;
    margin-left: 0px;
    margin-right: 0px;

}
@media(max-width: 575.98px){
    .prod-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 0px;   
    }
}
/* Product info-------------------*/
.prod-row{
    width: 1262px;
    margin-top: 20px;
    margin-bottom: 30px;
    display: inline-flex;
    justify-content: center;
     
}
@media(max-width: 575.98px){
    .prod-row{
       display:block !important;
       max-width: 280px;
       margin: 0px;
       display: flex !important;
       justify-content: center;
    }
}
 .prod-card{
    border: 0.3px solid#000000;
    border-radius: 8%;
    width: 18.75rem;
    height: 28.125rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    padding-top: 3rem;
   
 }

 @media(max-width: 575.98px){
    .prod-card{
     margin-top: 25px;
    }
}

 .atc-con{
    margin-top: -20px;
    margin-right: 20px;
    float: right;
    opacity: 80%;
 }
.circle-button{
    width: 35px;
    height: 35px;
    border-radius: 50%; 
    background-color: #000000;
    border: none;    
}
.circle-button:hover{
    background-color: #A8512F;
}
.plus-sign{
    color: #F0E4CD;
    text-align: center;
    font-size: 18px;

}
.img-con{
    display: flex;
    justify-content: center; 
    align-items: center; 
    align-content: center;
    margin-bottom: 35px;
    margin-top: 0.93749995rem;

}
.img-prod{
  
    max-width: 250px;
    width: 100%;
    height: auto; 
    margin-left: 2.5rem;
}
.img-con img{
    transition: transform 0.3s ease-in-out;
}
.img-con:hover img{
    transform: scale(1.05) rotateY(180deg); 
    filter: drop-shadow(0 0 8px rgba(53, 53, 53, 0.524)); 
}
.details-con{
    max-width: 339px;
    height: 82px;
    margin: 0px;
    border-top: 0.3px solid #000000;
}
.top-row{
    display: grid;
    margin:0px;
    grid-template-columns: 50% 50%;
}
.bottom-row{
    border-top: .3px solid #000000;
    display: grid;
    margin:0px;
    grid-template-columns: 33.3% 33.33%  3.33%;
}

.first-colu{
    grid-column: 1;
    border-right: .3px solid #000000;
}
.secon-colun{
    grid-column: 2;
}
.first-colu-bot{
    border-right: .3px solid #000000

}
.secon-colu-bot{
    border-right: .3px solid #000000;
    padding-right: 0px;

}
.pro-price{

    width: fit-content;;
    width: fit-content;
}
.prod-head{
    margin: 0px;
    font-size: 11px;
    width: fit-content;
    opacity: 80%;

}
.prod-item{
    opacity: 80%;
    margin: 3px;
    width: fit-content;
}
.price-prod{
    font-weight: 200;
    color:  #A8512F;
}
/*  Coming soon info-------------------*/
.CS-con{
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.text-con{
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    
}
.text-content{
    text-align: center;
}

/* footer-------------------*/
.box-con{
    border: 1px solid #000000;
    display: flex;

}
.outer-con{
    display:flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}


.right-col{
    display: flex;
    flex-direction: column;
    align-content: end;
 
}


.footer-links{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: end;
    align-content: end;
   
}
 .form-group{
    max-width: 320px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
 }

 label{
    font-size: 17px;
    margin-bottom: 10px; 
 }
 
 input[type="text"],
 input[type="submit"],
 input{
    font-size: 17px;
    color:  #A8512F;
 }
 input{

    margin-bottom: 10px;
    background-color: transparent; 
    border: none;
    border-bottom: 1px solid #000000;
 }
.but-ton{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
 button{

    width: 100%;
    width: 80px;
    height: auto;
    font-size: 15px;
    border:1px solid #000000;
    border-radius: 25.5px;
    background-color: transparent;
 }

 button:hover{
    color: #F0E4CD;
    background-color: #A8512F;
 }
.TandC{
    margin:0px;
    margin-top: 5px;
    font-size: 8px;
}

.copy-con{
    margin: 15px;
    display: inline-flex;
    justify-content: flex-end;
    align-content: center;
}
.copu-text{
    margin: 8px;
    justify-content: flex-end;
    float: right;
}
.cop-logo{
    max-width: 250px;
}
.logo{
    float: right;
    margin: 0px 10px;
    font-family: 'RubenkoRegular';
    font-size: 20px;
}

.f-link{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}